{% extends 'job/base.html' %}

{% block subNav %}
{% endblock %}

{% block content %}

<h1 class="text-center">Welcome to the Job Database</h1>
</br>

<div class="container">
<p class="lead">The job database contains jobs posted by all users of the system. Each entry in the job database is a unique job post, containing information about the job title, job type, job level, post date, company, location, and job description. </p>

<p class="lead">All registered users can login and access the application. Registered users can view all job posts in the job database, create a new job post, and updata/delete their own job posts.</p>

<p class="lead">Login to use the application or register for an account now!</p>

</div>

 
{% endblock %}