{% extends 'job/base.html' %}

{% block navEle %}
<a href="/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}

<h4 class="text-center">All Job Posts</h4>
</br>

<div class="container">
    <a href="/job/postjob"> Click here to post new jobs</a>
    <br>
    <a href="/job/myposts"> Click here to see all my posts</a>
    <br>

    {% for post in all_posts %}

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}, {{ post.company }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.post_date }}</h6>
            <p class="card-text">Job Type: {{post.job_type}} </p>
            <p class="card-text">Job Level: {{ post.job_level}} </p>
            <p class="card-text">Work Location: {{post.location }} </p>
            <p class="card-text">Description: {{post.job_description }} </p>
          </div>
        </div>

    {% endfor %}
</div>

{% endblock %}