{% extends 'job/base.html' %}

{% block navEle %}
<a href="/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="text-center">My Job Posts</h4>
    <a href="/job/main/"> Go Back To Main Page</a>
    {% for post in myposts %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="postID" value={{ post.id }}>
            <p> <b>{{ post.title }}</b>, {{ post.company }}, {{ post.post_date }}</p>
            <p> {{ post.job_description}}</p>
            <button type="submit"> Delete </button>
        </form>

        <form action="/job/showUpdatePost" method="POST">
            {% csrf_token %}
            <input type="hidden" name="postID" value={{ post.id }}>
            <button> Update </button>
        </form>

        <hr>
    {% endfor %}
</div>

{% endblock %}