{% extends 'job/base.html' %}
{% load crispy_forms_tags %}

{% block navEle %}
<a href="/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}

<h1 class="text-center">This page shows all posted job</h1>
</br>

<div class="container">
    <a href="/job/main/"> Go Back To Main Page</a>

    <div class="row justify-content-center">
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Post a new job</legend>
          {{form|crispy}}
        </fieldset>

        <div class="form-group">
          <button href="" class="btn btn-outline-info" class="row justify-content-center" type="submit">
            POST
          </button>
        </div>
        </form>
    </div>

</div>

{% endblock %}