{% extends 'job/base.html' %}
{% load crispy_forms_tags %}

{% block navEle %}
<a href="/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <form method="POST">
        {% csrf_token %}

        <legend class="border-bottom mb-4 row justify-content-center">Update job post</legend>

        <div class="form-group">
            <label for="2">Title</label>
            <input type="text" class="form-control" id="2" name="job_title" value="{{ post.title }}">
        </div>

        <div class="form-group">
            <label for="3">Company</label>
            <input type="text" class="form-control" id="3" name="company" value="{{ post.company }}">
        </div>

        <div class="form-group">
            <label for="4">Type</label>
            <input type="text" class="form-control" id="4" name="job_type" value="{{ post.job_type }}">
        </div>

        <div class="form-group">
            <label for="5">Level</label>
            <input type="text" class="form-control" id="5" name="job_level" value="{{ post.job_level }}">
        </div>

        <div class="form-group">
            <label for="6">Address</label>
            <input type="text" class="form-control" id="6" name="address" value="{{ post.location.street_address }}">
        </div>

        <div class="form-group">
            <label for="7">Zipcode</label>
            <input type="number" class="form-control" id="7" name="job_zipcode" value="{{ post.location.zipcode_id }}">
        </div>

        <div class="form-group">
            <label for="8">City</label>
            <input type="text" class="form-control" id="8" name="city" value="{{ post.location.zipcode.city }}">
        </div>

        <div class="form-group">
            <label for="9">State</label>
            <input type="text" class="form-control" id="9" name="state" value="{{ post.location.zipcode.state }}">
        </div>

        <div class="form-group">
            <label for="10">Description</label>
            <textarea class="form-control" id="10" name="job_description" rows="4" cols="50">{{ post.job_description }}
        </textarea>
    </div>

        <button type="submit" class="btn btn-primary"> Update </button>
    </form>

</div>

{% endblock %}